$orange: hsl(31, 77%, 52%);
$cyan: hsl(184, 100%, 22%);
$darkcyan: hsl(179, 100%, 13%);
$white: hsl(256,100%,100%);
$transpw: hsla(0, 0%, 100%, 0.75);
$dcolor: ("orange": $orange, "cyan": $cyan, "darkcyan": $darkcyan);
$font-Lex: 'Lexend Deca', sans-serif;
$font-Big: 'Big Shoulders Display', cursive;
$font: ("body": $font-Lex, "p": $font-Lex, "h2": $font-Big);

@mixin btn {
    background-color: $white;
    border-radius: 50px;
    border:none;
    height: 2.5rem;
    width: 8rem;
    font-family: $font-Lex;
    grid-area: Bouton;
    margin-top: 2rem;
}

@each $color, $btn in $dcolor {
    .btn-#{$color} {
        color: $btn;
        @include btn;
    }
}

@each $name, $namefont in $font {
    @if $name=="p" {
        #{$name} {
            font-family: $namefont;
            color: $transpw;
            grid-area: Text;
            font-size: small;
            line-height: 2;
        }
    }

    @else if $name=="h2" {
        #{$name} {
        font-family: $namefont;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 40px;
        grid-area: H2;
        }
    }
    @else { 
        #{$name} {
            font-family: $namefont;
            color: $white;
            }
    }
}

@mixin col {
    width: 90%;
    font-weight: 200;
    padding-left: 2rem;
    padding-right: 2rem;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
    "Logo"
    "H2"
    "Text"
    "Bouton"
}


@each $color, $back in $dcolor {
    .col-#{$color} {

        @if $color=="orange" {
            border-radius: 10px 10px 0 0;
        }

        @else if $color=="darkcyan" {
            border-radius: 0 0px 10px 10px;
        }

        @else {
            border-radius: 0;
        }

        background-color: $back;
        @include col;
        }
    }

.img-logo {
    grid-area: Logo;
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}

body {
    background-color: hsl(0, 0%, 95%);
    font-size: 15px;
}

.boxG {
   width: 75vw; 
   height: 60vh;
   display: flex;
   flex-direction: column;
}

.center {
    display: flex;
    justify-content: center;
}


.attribution {
    margin-top: 2rem;
    margin-left: -2rem;
    font-size: 11px; 
    text-align: center;
    
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

